@{
    ViewData["Title"] = "Home Page";
}

<div>
    <p>
        <a href="/customer/login">
            Giriş Yap!
        </a>
    </p>
    <p>
        <a href="/customer/register">
            Kayıt Ol!
        </a>
    </p>
</div>
